.contenedor {
  width: 75%;
  height: auto;
  margin: 0 auto;
}
/*Logo*/
.logo {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
}
.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
}
.circle.uno {
  background: var(--colorAzul2);
  border: 2px solid var(--colorAzul2);
}
.circle.dos {
  background: var(--colorBlanco);
  border: 2px solid var(--colorAzul2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Gilroy-Bold;
  position: absolute;
  left: 15px;
}
/*Header contenedor*/
.header {
  width: 100%;
  height: 80px;
  background: var(--colorBlanco);
}
.header .contenedor {
  width: 85%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul {
  width: 100%;
  height: 100%;
  display: inherit;
  align-items: inherit;
}
.menu ul li {
  width: 130px;
  height: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: space-between;
}
.menu ul li a {
  width: 100%;
  height: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: center;
  color: var(--colorAzul1);
  font-size: 1.2em;
  font-family: Gilroy-Bold;
  font-weight: bold;
  transition: 0.25s ease;
}
.menu ul li a.active {
  color: var(--colorAzul1Hover);
}
.menu ul li a:hover {
  color: var(--colorAzul1Hover);
}
/*Banner*/
.banner {
  width: 100%;
  height: 250px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(211.87deg, #98d0fc 2.46%, #3481d7 93.24%);
  position: relative;
  z-index: 0;
}
.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  z-index: -1;
  background-image: url("../img/bannerVector.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-title {
  text-align: center;
  color: var(--colorBlanco);
  font-size: 2.8em;
  margin-bottom: 18px;
}
.banner-description {
  width: 50%;
  width: 70%;
  text-align: center;
  color: var(--colorBlanco);
  font-size: 1.2em;
}
/*Buscardor de articulos*/
.search-article {
  width: 100%;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-search {
  width: 40px;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorBlancoGris);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.icon-search .fas.fa-search {
  color: var(--colorAzul2);
  font-size: 1em;
}
.inputText {
  width: calc(100% - 40px);
  height: 56px;
  padding: 10px;
  outline: none;
  border: 0;
  background: var(--colorBlancoGris);
  color: var(--colorAzul2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1em;
}
.inputText::placeholder {
  color: var(--colorAzul2);
  font-size: 1em;
}
/*Contenido principal*/
.main-container {
  width: 100%;
  height: auto;
}
.image-article {
  width: auto;
  height: auto;
}
.main-container-title {
  color: var(--colorAzul3);
  font-size: 1.2em;
  margin-bottom: 1.8em;
}
.main-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 2.5em;
}
.main-article img {
  width: auto;
}
.main-article > .article-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.article-title {
  color: var(--colorAzul1);
  font-size: 2.3em;
}
.article-info-text {
  color: var(--colorNegro);
  font-size: 1em;
}
.article-more-infor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author {
  display: flex;
  flex-direction: column;
}
.name-author {
  color: var(--colorAzul1);
  font-size: 14px;
  margin-bottom: 4px;
}
.hour-post {
  color: var(--colorAzul1);
  opacity: 0.4;
  font-size: 14px;
}
.article-icons {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.article-icons,
.fas.fa-share-alt,
.fas.fa-bookmark {
  color: var(--colorAzul3);
  font-size: 14px;
  cursor: pointer;
}
.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  grid-gap: 0 20px;
  justify-content: space-between;
}
.article {
  width: 100%;
  height: auto;
}
.article .article-info .article-title {
  font-size: 1.4em;
  margin: 13px 0;
}
.article .article-info .article-info-text {
  margin-bottom: 13px;
}
.see-popular-article {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5em;
  border-bottom: 1px solid var(--colorNegroRGBA);
}
.see-popular-article a {
  text-transform: uppercase;
  color: var(--colorAzul2);
  font-weight: bold;
}
