@import "./font.css";

:root {
  --colorBlanco: #ffffff;
  --colorBlancoGris: #f4f4f4;
  --colorNegro: #222222;
  --colorAzul1: #1f3f68;
  --colorAzul2: #316099;
  --colorAzul3: #356ead;
  --colorCelesteOscuro: #5a98d0;
  --colorCelesteClaro: #98c3e8;
  --colorAzul1Hover: #006eff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Helvetica";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-family: "Helvetica";
}

h1,
p,
span {
  font-family: Arial;
}

img {
  display: block;
}
